rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      match /groups/{groupId} {
        allow read, create, delete: if request.auth.uid != null;
      }
    }
    match /groups/{groupId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
      match /students/{studentId} {
        allow read, create, delete: if request.auth.uid != null;
      }
      match /homework/{homeworkId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
        match /users/{userId} {
          allow read, create: if request.auth.uid != null;
          allow delete: if request.auth.token.admin;
        }
      }
      match /evaluations/{evaluationId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
        match /questions/{document=**} {
          allow read: if request.auth.uid != null;
          allow create: if request.auth.token.professor;
          allow create, delete: if request.auth.token.admin;
        }
        match /users/{document=**} {
          allow read, write: if request.auth.uid != null;
          allow delete: if request.auth.token.admin;
        }
      }
      match /forums/{forumId} {
        allow read, create: if request.auth.uid != null;
        allow create, delete: if request.auth.token.admin;
        match /replies/{replyId} {
          allow read, write: if request.auth.uid != null;
          allow delete: if request.auth.token.admin;
        }
      }
    }
  }
}