rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid != null;
    }
    match /groups/{groupId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
      match /homework/{homeworkId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
        match /files/{fileId} {
          allow create: if request.auth.uid != null;
          allow delete: if request.auth.token.admin;
        }
      }
      match /students/{studentId} {
        allow read, create: if request.auth.uid != null;
        allow delete: if request.auth.token.admin || request.auth.token.professor;
      }
      match /evaluations/{evaluationId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.token.professor;
        allow create, delete: if request.auth.token.admin;
      }
    }
  }
}