<mat-card class="p-0 my-2">
  <mat-card-header class="bg-homework p-2 text-white rounded-top">
    <div mat-card-avatar [style.background-image]="'https://png.icons8.com/color/spiral-bound-booklet/40' | uriStyleSanitizer "></div>
    <mat-card-title>Tareas</mat-card-title>
    <mat-card-subtitle>Almacena tus tareas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="m-0">
    <app-loading *ngIf="loading"></app-loading>
    <mat-list *ngIf="!loading">
      <mat-list-item *ngIf="homeworks.length === 0">
        <span class="h4 m-0" mat-line>No hay tareas por mostrar</span>
      </mat-list-item>
      <mat-list-item *ngFor="let homework of homeworks">
        <div class="mr-2">
          <img src="https://png.icons8.com/color/ok--v2/20" alt="completed" *ngIf="homework.completed">
          <img src="https://png.icons8.com/color/bubble/20" alt="not completed" *ngIf="!homework.completed">
        </div>
        <div matRipple (click)="showHomework(homework)" class="mr-auto aula-min-w-0">
          <span mat-line>{{homework.title}}</span>
          <small mat-line class="text-muted">Fecha de entrega {{homework.dueDate!.seconds * 1000 | date: 'longDate'}} </small>
        </div>
        <button mat-raised-button color="accent" (click)="showFiles(homework)" *ngIf="fireAuth.user.admin || fireAuth.user.professor" class="aula-min-w-auto">
          Ver archivos
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="bg-light p-3 m-0 rounded-bottom" *ngIf="fireAuth.user.admin || fireAuth.user.professor">
    <button mat-raised-button color="primary" (click)="showAddHomework()">Crear tarea</button>
  </mat-card-actions>
</mat-card>