<div class="row m-0">
  <div class="col-12 col-lg-4 my-2">
    <mat-card>
      <mat-card-header>
        <app-profile-photo mat-card-avatar class="mr-3" [photoURL]="fireAuth.user.photoURL"></app-profile-photo>
        <mat-card-title class="text-admin">Administración</mat-card-title>
        <mat-card-subtitle>Administra tus recursos</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item routerLink="users" routerLinkActive="mat-list-item-active" matRipple>
            <span mat-line>Usuarios</span>
            <small class="text-muted" mat-line>Administra roles y permisos</small>
          </mat-list-item>
          <mat-list-item routerLink="groups" routerLinkActive="mat-list-item-active" matRipple>
            <span mat-line>Grupos</span>
            <small class="text-muted" mat-line>Administra tus grupos</small>
          </mat-list-item>
          <mat-list-item routerLink="homeworks" routerLinkActive="mat-list-item-active" matRipple>
            <span mat-line>Tareas</span>
            <small class="text-muted" mat-line>Administra tus tareas</small>
          </mat-list-item>
          <mat-list-item routerLink="evaluations" routerLinkActive="mat-list-item-active" matRipple>
            <span mat-line>Evaluaciones</span>
            <small class="text-muted" mat-line>Administra tus evaluaciones</small>
          </mat-list-item>
          <mat-list-item routerLink="forums" routerLinkActive="mat-list-item-active" matRipple>
            <span mat-line>Foros</span>
            <small class="text-muted" mat-line>Administra tus foros</small>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-lg-8 my-2">
    <router-outlet></router-outlet>
  </div>
</div>