<app-loading *ngIf="loading"></app-loading>
<div class="row flex-wrap" *ngIf="!loading">
  <div class="col-12 col-lg-4 my-2">
    <mat-card>
      <mat-card-header>
        <app-profile-photo mat-card-avatar class="mr-3" [photoURL]="group.photoURL"></app-profile-photo>
        <mat-card-title>{{group.title}}</mat-card-title>
        <mat-card-subtitle>{{group.owner}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="group.description"></p>
        <div *ngIf="!fireAuth.user.admin && !fireAuth.user.professor">
          <button mat-raised-button color="primary" *ngIf="!hasJoined" (click)="addStudent()">Unirse al grupo</button>
          <button mat-raised-button color="warn" *ngIf="hasJoined" (click)="removeStudent()">Salir del grupo</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-2" *ngIf="hasJoined || fireAuth.user.admin || fireAuth.user.professor">
      <mat-card-header>
        <mat-card-title>Estudiantes</mat-card-title>
        <mat-card-subtitle *ngIf="groupService.students.length === 0">No hay estudiantes en este grupo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="overflow-auto">
        <mat-list class="aula-students-container">
          <mat-list-item *ngFor="let student of groupService.students">
            <app-profile-photo [photoURL]="student.photoURL" size="small"></app-profile-photo>
            <div class="d-flex flex-column mx-2">
              <span>{{student.displayName}}</span>
              <small class="text-muted">{{student.email}}</small>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <app-group-chat></app-group-chat>
  </div>
  <div class="col-12 col-lg-8" *ngIf="hasJoined || fireAuth.user.admin || fireAuth.user.professor">
      <router-outlet></router-outlet>
  </div>
</div>