<mat-toolbar color="default">
  <mat-toolbar-row>
    <img src="https://png.icons8.com/cotton/32/school-1-1.png" alt="aula social logo">
    <span class="mr-auto aula-social-font">Aula Social</span>
    <button mat-raised-button (click)="signIn()">
      <img src="https://png.icons8.com/color/16/google-logo.png" alt="google logo"> Inicia sesión
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Aula Social</h1>
        <p class="lead">Mejora tus calificiaciones </p>
      </div>
    </div>
  </div>
</header>
<!-- Contenido de la pagina -->
<section class="py-5" >
  <div class="container">
    <h2 class="font-weight-light" color>Sube y resuelve tareas</h2>
    <p>El estudio es el desarrollo de aptitudes y habilidades mediante la incorporación de conocimientos nuevos. El sistema de educación mediante el cual se produce la socialización de la persona tiene como correlato que se dedique una elevada cantidad de horas al análisis de diversos temas. </p>
  </div>
</section>
<!--Tarjetas-->
<div class="container-fluid  bg-dark ">
  <div class="container py-5">
    <div class="row">
      <!-- Tarjeta 1 -->
      <div class="col-md-4 bg-dark">
          <div class="card text-center"> 
              <div class="card-block ">
                <h5 class="card-title" >Maestro</h5>
                <img src="https://img.icons8.com/color/96/teacher.png">
                <p class="card-text">Sube tareas a tus alumnos y manten un orden en tus clases.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
          </div>        
      </div><!-- tarjeta 1 -->
      <!-- Tarjeta 1 -->
      <div class="col-md-4">
          <div class="card text-center"> 
              <div class="card-block">
                <h5 class="card-title">Alumno</h5>
                <img src="https://img.icons8.com/color/96/student-male--v2.png">
                <p class="card-text">Sube tareas a tus alumnos y manten un orden en tus clases.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
          </div>       
      </div><!-- tarjeta 1 --> 
      <div class="col-md-4">
          <div class="card text-center"> 
              <div class="card-block">
                <h5 class="card-title">Institucion</h5>
                <img src="https://img.icons8.com/color/96/school-building.png">
                <p class="card-text">Sube tareas a tus alumnos y manten un orden en tus clases.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
              </div>
          </div>       
      </div><!-- tarjeta 1 -->    
    </div>
  </div>
</div>