<mat-toolbar color="default">
  <mat-toolbar-row>
    <img src="https://png.icons8.com/cotton/32/school-1-1.png" alt="aula social logo">
    <span class="mr-auto aula-social-font">Aula Social</span>
    <button mat-raised-button (click)="signIn()">
      <img src="https://png.icons8.com/color/16/google-logo.png" alt="google logo"> Inicia sesión
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="row m-0 aula-section-divider flex-column align-items-start justify-content-end text-white p-4"
  [style.background-image]="'https://fotos.subefotos.com/832448696cbaff0c76433258e0715483o.jpg' | uriStyleSanitizer: true">
  <span class="h3 aula-social-font">Aula Social</span>
  <p class="m-0">Lleva la escuela a donde vayas</p>
</div>
<p class="aula-social-font h1 text-center my-3">¿Qué es?</p>
<mat-divider></mat-divider>
<div class="row m-0 mt-4 justify-content-center">
  <div class="col-12 col-md-5 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-primary text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/cotton/64/school-1-1.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Aula Social</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Es una herramienta 100% web que ayuda a profesores y alumnos en extender la comunicación que existe en el salón y poderla llevar <em>a donde quiera que estés</em></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p class="aula-social-font h1 text-center my-3">¿Cómo funciona?</p>
<mat-divider></mat-divider>
<div class="row m-0 mt-4 justify-content-center">
  <div class="col-12 col-md-6 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://img.icons8.com/color/64/commercial-development-management.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Roles</span>
      </mat-card-header>
      <img mat-card-image src="assets/img/landing/roles.jpg" alt="role photo">
      <mat-card-content>
        <p class="text-center">Administra los permisos de tus usuarios en 3 básicos roles: <strong>Administrador, Profesor y Alumno</strong></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-6 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://img.icons8.com/color/64/classroom.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Grupos</span>
      </mat-card-header>
      <img mat-card-image src="assets/img/landing/gruops.jpg" alt="role photo">
      <mat-card-content>
        <p class="text-center">Como profesor tienes la capacidad de crear grupos dedicados a tu materia, donde puedes administrar tus recursos como: <strong>evaluaciones, tareas, foros y chat</strong></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p class="aula-social-font h1 text-center my-3">Recursos</p>
<mat-divider></mat-divider>
<div class="row m-0 mt-4 justify-content-center">
  <div class="col-6 col-md-3 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/spiral-bound-booklet.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Tareas</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Como profesor, crea tareas y asignales una fecha de entrega para los alumnos del grupo</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-3 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/test-passed.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Evaluaciones</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Crea evaluaciones para los estuduantes del grupo, de opción múltiple, sin límite de preguntas y respuestas</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-3 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/communication.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Foros</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Los alumnos pueden crear foros de discusión para aclarar las dudas acerca de un tema</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-3 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-dark text-white">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://img.icons8.com/color/64/chat.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Chat</span>
      </mat-card-header>  
      <mat-card-content>
        <p class="text-center">Hay un chat general para el grupo donde profesor y alumnos pueden comunicarse en tiempo real</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<p class="aula-social-font h1 text-center my-3">Acerca de Aula Social</p>
<mat-divider></mat-divider>
<div class="row m-0 mt-4 justify-content-center">
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/shield.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Seguro</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Crea, edita y elimina con base a tus permisos, la asignación de roles permite un correcto control de los recursos</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/time-machine--v3.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Tiempo Real</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Obten respuestas en tiempo real, no necesitas recargar la página, <strong>TODO</strong>, desde el chat hasta las tareas se actualizan en tiempo real</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/icons8-new-logo.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Icons8</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center"><a href="https://icons8.com" class="text-decoration-none text-white">Iconografía de uso libre</a>, con una amplia variedad de estilos, <strong>Aula social</strong> es personalizable sin exceder en costos</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/material-ui.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Material UI</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Interfaces atractivas a la vista, adiós a las herramientas anticuadas</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/firebase.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Firebase</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Todo el poder y experiencia de Google en un solo lugar, con Firebase, <strong>Aula Social</strong> es segura y rápida</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6 col-md-4 my-3 d-flex flex-column">
    <mat-card class="flex-fill bg-secondary">
      <mat-card-header class="d-flex flex-column align-items-center">
        <div class="aula-cover-64 aula-section-img"
          [style.background-image]="'https://png.icons8.com/color/64/google-calendar.png' | uriStyleSanitizer"></div>
        <span class="h4 text-center">Calendario</span>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Todas las tareas y evaluaciones van directo a tu calendario para que no olvides cuando tienes que entregar tus trabajos</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>