<div class="row m-0 my-2">
  <button mat-raised-button color="primary" (click)="showGroupModal()" *ngIf="fireAuth.user.admin || fireAuth.user.professor">
    <img src="https://png.icons8.com/color/add-user-group-woman-man/24" alt="admin"> Crear grupo
  </button>
</div>
<div class="d-flex justify-content-center">
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Ingresa el nombre del grupo" [(ngModel)]="title" (keyup)="searchGroups()">
  </mat-form-field>
</div>
<app-loading *ngIf="loading; else notLoading"></app-loading>
<ng-template #notLoading>
  <div class="d-flex flex-wrap">
    <div class="col-md-4 col-12 d-flex my-2 px-2" *ngFor="let group of groups">
      <mat-card class="d-flex flex-column flex-fill" (click)="viewGroup(group.uid)" matRipple>
        <mat-card-header>
          <div mat-card-avatar [style.background-image]="'https://png.icons8.com/color/books/40' | uriStyleSanitizer "></div>
          <mat-card-title class="text-primary">{{group.title}}</mat-card-title>
          <mat-card-subtitle>{{group.owner}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="flex-fill group-content">
          <p [innerHTML]="group.description"></p>
        </mat-card-content>
        <mat-card-footer class="p-2 text-center bg-light">
          <small>Creado el {{group.creationDate?.seconds * 1000 | date: 'longDate'}}</small>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>