<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button color="primary" class="mr-auto text-white" [routerLink]="['/dashboard']">
      <img src="https://png.icons8.com/cotton/school-1-1/32" alt="aula social logo">
      <span class="aula-social-font">Aula Social</span>
    </button>
    <div class="d-none d-md-block flex-grow-1">
      <button mat-button class="mx-2" [routerLink]="['/admin']">Administrar</button>
    </div>
    <app-profile-photo size="small" [photoURL]="fireAuth.user.photoURL"></app-profile-photo>
    <div class="d-flex flex-column align-items-start mx-2 toolbar-info-small">
      <span>{{ fireAuth.user.displayName }}</span>
      <small class="px-1 rounded"
        [ngClass]="{
          'bg-warning text-dark': fireAuth.user.professor,
          'bg-success': fireAuth.user.admin,
          'bg-info': !fireAuth.user.professor && !fireAuth.user.admin}">{{fireAuth.role}}</small>
    </div>
    <button mat-raised-button (click)="logOut()" color="warn">Salir</button>
  </mat-toolbar-row>
  <mat-toolbar-row class="mat-toolbar-menu-row p-0 d-md-none">
    <button mat-button class="btn-block" [routerLink]="['/admin']">Administrar</button>
  </mat-toolbar-row>
</mat-toolbar>