/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #dfe4ea !important;
}

body { margin: 0; }

* {
  font-family: 'Roboto Condensed', sans-serif !important;
}

*.aula-social-font {
  font-family: 'Graduate', cursive !important;
}
  
button:focus,
select:focus,
.btn:focus {
  outline: none !important;
}

.mat-ripple {
  cursor: pointer;
}

.bg-evaluation {
  background-color: #34ace0;
}

.text-evaluation {
  color: #34ace0;
}

.bg-homework {
  background-color: #706fd3;
}

.text-homework {
  color: #706fd3;
}

.bg-forum {
  background-color: #ff793f;
}

.text-forum {
  color: #ff793f;
}

.bg-admin {
  background-color: #33d9b2;
}

.text-admin {
  color: #33d9b2;
}

.bg-chat {
  background-color: #ff5252;
}

.text-chat {
  color: #ff5252;
}

.aula-min-w-0 {
  min-width: 0 !important;
}
.aula-cover-64 {
  height: 64px;
  min-width: 64px;
  max-width: 64px;
  background-position: center;
  background-size: cover;
}

.aula-min-w-auto {
  min-width: auto !important;
}

/* Animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}