<mat-card class="p-0">
  <mat-card-header class="bg-admin p-2 text-white rounded-top">
    <div mat-card-avatar [style.background-image]="'https://png.icons8.com/color/admin-settings-male/40' | uriStyleSanitizer "></div>
    <mat-card-title>Usuarios</mat-card-title>
    <mat-card-subtitle>Administra los roles para cada usuario</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="m-0">
    <app-loading *ngIf="loading"></app-loading>
    <mat-list>
      <mat-list-item *ngFor="let user of users; let idx = index">
        <div class="mr-2">
          <app-profile-photo [photoURL]="user.photoURL"></app-profile-photo>
        </div>
        <div class="mr-auto">
          <span mat-line>{{user.displayName}}</span>
          <small mat-line class="text-muted">{{user.email}}</small>
        </div>
        <button mat-raised-button [matMenuTriggerFor]="grantsMenu">
          <img src="https://png.icons8.com/color/administrative-tools/24" alt="grants"> Permisos
        </button>
        <mat-menu #grantsMenu="matMenu">
          <button mat-menu-item (click)="addAdmin(user)">
            <img src="https://png.icons8.com/color/businessman/24" alt="admin"> Administrador
          </button>
          <button mat-menu-item (click)="addProfessor(user)">
            <img src="https://png.icons8.com/color/teacher/24" alt="professor"> Profesor
          </button>
          <button mat-menu-item (click)="removeProfessor(user)">
            <img src="https://png.icons8.com/color/student-male--v2/24" alt="student"> Alumno
          </button>
        </mat-menu>
        <mat-divider *ngIf="idx < users.length - 1"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>